[submodule "files/scripts/lib/jsonlua"]
	path = files/scripts/lib/jsonlua
	url = git@github.com:rxi/json.lua.git
[submodule "files/scripts/lib/luanxml"]
	path = files/scripts/lib/luanxml
	url = git@github.com:NathanSnail/luanxml.git
[submodule "files/scripts/lib/noita_common_csv"]
	path = files/scripts/lib/noita_common_csv
	url = https://github.com/SlpAus/noita_common_csv
